.BF_INPUT
{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.BF_CODE
{
    margin: 2%;
    width: 50%;
    height: auto;
}

.BF_BTN
{
    margin: 5px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.BF_OUTPUT
{
    font-size: large;
}