/* 
Colour Scheme
#C1ABA6
#533B4D
#F564A9
#FAA4BD
#FAE3C6
*/
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Oswald&display=swap');
*
{
    text-align: center;
    font-family: 'Chivo Mono', monospace;
}

body
{
    background-color: #C1ABA6;
}

.dango-title
{
    font-size: xx-large;
    padding: 2%;
}

.dango-line
{
    font-size: medium;
}

day
{
    font-size: larger;
    display: inline-block;
    padding-top: 1%;
}