.port-about-me-container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.port-title
{
    color: white;
    text-align: center;
    font-size: 70px;
    margin-top: 1%;
}

.port-paragraph
{
    text-align: center;
    margin: 10px 5%;
    font-size: x-large;
}

.port-featured-container
{
    flex-wrap: wrap;
    padding-top: 2%;
    display: flex;
    justify-content: space-evenly;
}


.port-featured-button
{
    
    transition: all 0.2s ease-in-out;

    margin: 2%;
    border-radius: 1.5%;

    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 5%;
    background-color: rgb(55, 55, 55);
    border: 2px ridge rgb(91, 103, 102);

}

.port-featured-button:hover
{
    scale: 1.05;
    transition: all 0.2s ease-in-out, background-color 1s;
    background-color: rgba(108, 147, 192, 0.5);;
}


@media (max-width: 480px)
{

    .port-featured-button
    {
        transition: all 0.2s ease-in-out;
        margin-top: 5%;

        color: white;
        padding: 5% 15%;
    }
    
}

.port-featured-title
{
    font-size: xx-large;
    margin-bottom: 1%;
}

.port-featured-description
{
    
    font-size: large;
}